{% extends 'y_analizeapp/template.html' %}

{% load static %}
{% block header %}
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<link rel="stylesheet" href="{% static 'y_analizeapp/style1.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="{% static 'y_analizeapp/script1.js' %}"></script>
{% endblock %}
{% block content %}

<p></p>
<div id="wrapper">
    <span></span>
    <span></span>
    <span></span>
<nav id="global-navi">
<ul class="menu">     
<li><a href="/page1">page1</a></li>
<li><a href="/page2">page2</a></li>
<li><a href="/page3">page3</a></li>
<li><a href="/page4">page4</a></li>
<li><a href="">お問い合わせ</a></li>
    </ul>
</nav>
</div>
<!-- <div class="test">teston</div> -->
<style>
    #ex_chart {max-width:1860px;max-height:480px;}
</style>

    <canvas id="ex_chart"></canvas>
    <script>
    var ctx = document.getElementById('ex_chart');
    var data = {
        labels: {{ page1_dict.Axis }},
        datasets: [{
            label: "{{ page1_dict.Title1 }}",
            data: {{ page1_dict.View1 }},
            borderColor: 'rgba(255, 100, 100, 1)',
            borderWidth:1,
            fill:false,
            pointRadius:0
        },
        {
            label: "{{ page1_dict.Title2 }}",
            data: {{ page1_dict.View2 }},
            borderColor: 'rgba(0, 0, 200, 1)',
            borderWidth:1,
            fill:false,
            pointRadius:0
        }]
    };
    var options = {
        maintainAspectRatio:false,
    };
    var ex_chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options
    });
    </script>
<form action="/page1/" method="POST">{% csrf_token %}
    <input type="text" name="inputbox1" value="20220222" list="CL">
    <input type="text" name="inputbox2" value="20220222" list="CL">
    <datalist id="CL">
        {% for i in page1_dict.CL %}
            <option value={{ i }}></option>
        {% endfor %}
    </datalist>
    <input type="submit" value="表示" class="btn btn-warning">
</form>
{% for i in page1_dict.CL %}_
<p>{{ i }}</p>
{% endfor %}


{% endblock %}