{% extends 'y_analizeapp/template.html' %}
{% block content %}
<p></p>
<style>
    #ex_chart {max-width:1860px;max-height:480px;}
</style>
    <canvas id="ex_chart"></canvas>
    <script>
    var ctx = document.getElementById('ex_chart');
    var data = {
        labels: {{ page1_dict.Axis }},
        datasets: [{
            label: "{{ page1_dict.Title }}",
            data: {{ page1_dict.View }},
            borderColor: 'rgba(255, 100, 100, 1)',
            borderWidth:1,
            fill:false,
            pointRadius:0
        },
        {
            label: 'テストデータ２',
            data: [580, 100, 600, 320, 230],
            borderColor: 'rgba(0, 0, 200, 1)',
            borderWidth:1,
            fill:false,
            pointRadius:0
        }]
    };
    var options = {
        maintainAspectRatio:false,
    };
    var ex_chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options
    });
    </script>

{% endblock %}