{% extends 'y_analizeapp/template2.html' %}
{% load static %}
{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}

<div class ="test">
    <p>page3 area</p>
</div>

<form action="/page4/" method="POST">{% csrf_token %}
    <label for="name">　出力: </label>
    <input type="text" name = 'inputbox1' list="sampleDatalistId">
    <input type="text" name = 'inputbox2' list="sampleDatalistId">
    <input type="submit" value='遷移'>
</form>

    <iframe width='100%' height="315" src="{{ page3_dict.testurl2 }}?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>{{ page3_dict.testurl2 }}?autoplay=1</p>
{% endblock %}