{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    
    {% block header %}
    {% endblock %}
    <title>Youtube_視聴数分析サイト</title>
</head>
<body>

<nav class="navbar navbar-expand-xl" 
style="font-size:10px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 40px; 
    background-color: rgb(255, 100, 100);
    color: aliceblue; white-space: nowrap;">
    &emsp;YouTube 同時接続数等 分析サイト（開発中）
    <!-- <div class="collapse navbar-collapse justify-content-end"> -->
    <div class="collapse navbar-collapse justify-content-end">

        {% if user.is_authenticated %}
        <span style="font-size:15px; text-align: right; width: 300px;">
            <!-- ログアウトのURLに移動するように処理 -->
            <a href="{% url 'logout' %}" style="color:black; text-decoration: underline;">
            こんにちは、{{ user.username}}さん
            </a>
        </span>
        {% endif %}
    </div>

</nav>

{% block content %}
{% endblock %}
</body>
</html>